@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --noto-sans: "Noto Sans", serif;
  --color-primary: #5596ef;
  --color-primary-text: #444444;
  --color-deep-blue: #2374e3;
  --color-muted-body: #e7f6f5;
}

.p-container {
  @apply max-w-[1170px] mx-auto px-4 sm:px-10 xl:px-0;
}

.banner-cycle {
  animation: subtleMove 1s infinite alternate ease-in-out;
}
@keyframes subtleMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}

.banner-left-wrapper {
  @apply flex-1 flex-col md:flex-row flex gap-8 lg:gap-32 items-start md:items-center relative pb-7;
}
.banner-title {
  @apply text-[30px] lg:text-[46px] text-black font-medium leading-[50px] mb-2 lg:mb-5 whitespace-nowrap;
}
.banner-subtitle {
  @apply text-primary-text text-sm lg:text-base;
}
.banner-shade {
  @apply absolute top-full  max-w-[150px] lg:max-w-[200px] md:static;
}
.banner-img {
  @apply w-[300px] md:w-auto mx-auto;
}

/* buttons */
.primary-btn {
  @apply bg-primary whitespace-nowrap text-sm md:text-[20px] font-semibold px-5 md:px-8 py-2 rounded-full text-white flex items-center gap-3 md:gap-4 hover:gap-5 hover:bg-deep-blue transition-all cursor-pointer;
}
.add-to-cart-button {
  @apply flex items-center whitespace-nowrap justify-center gap-3 md:gap-4 bg-primary-text text-sm md:text-[20px] font-semibold px-5 md:px-8 py-2 rounded-full text-white hover:gap-5 hover:bg-deep-blue transition-all cursor-pointer;
}
